# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\gonni\OneDrive\Documents\UEA\ACADEMIC\SEM 2\SOFTWARE ENGINEER\HealthTracker\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
